<div class="hero">
  <h1>Tister Mock Fails</h1>
  <h4 class="subtitle"></h4>
</div>
<br>
<div class="canvas-container">
  <button class="link-btn" id="start-butt">START</button>
  <canvas>
  </canvas>
</div>
<div class="my-card-container">
  <% @cocktails.each do |cocktail| %>
    <%= link_to cocktail_path(cocktail) do%>
      <div class="my-card">
        <div class="my-card-title">
          <h3><%= cocktail.name %></h3>
          <% if cocktail.photo.attached? %>
            <%= cl_image_tag cocktail.photo.key, height: 200, width: 200, crop: :fill %>
          <% else %>
            <%= image_tag 'default.jpg', height: 200, width: 200, crop: :fill %>
          <% end %>
          <p class="description">
            <p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <%=javascript_pack_tag "cocktails/index", defer: true%>
