<%= simple_form_for @cocktail, class: "form-group" do |f| %>
  <%= f.label :name, "Name your cocktail: " %>
  <%= f.text_field :name, id: "text-field"%>
  <%= f.submit %>
<% end %>
<button id="random-name-butt">Generate random name</button>
<%= javascript_pack_tag 'cocktails/new', defer: true%>
